<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-5">
        <div class="product-form">
                <div class="form-group">
                    <label class="form-label" for="username-email">Username</label>
                    <input type="text" class="form-control" name="info" [(ngModel)]="username">
                </div>

                <div class="form-group">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
                </div>

                <div class="form-group">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" id="email" class="form-control" name="email" [(ngModel)]="email">
                </div>

                <button type="button" class="btn btn-primary" (click)="submitEdit()">
                    <a style="text-decoration: none; color: white;" href="#">Register</a></button>
        </div>
    </div>
</div>
