.product-form {
    background-color: rgba(163,163,163,0.7);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 400px;
}

.form-label {
    font-weight: bold;
    color: rgb(38, 96, 184);
    letter-spacing: 1px;
}